---
---
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,700,900|Roboto');

/* Fonts */
$font-family-base: 'Roboto', sans-serif;
$font-family-title: 'Fira Sans', sans-serif;

/* Colors */
$primary-color: #0D6684;
$secondary-color: #0FA3B1;
$accent-color: #D2CCA1;
$accent-light-color: #E7DFC6;
$white-color: white;
$black-color: #000;
$grey-color: #666;
$grey-light-color: #E9F1F7;


/* Utilities */
// Background color
.bg-primary { background-color: $primary-color; }
.bg-secondary { background-color: $secondary-color; }
.bg-accent { background-color: $accent-color; }
.bg-accent-light { background-color: $accent-light-color; }
.bg-grey { background-color: $grey-color; }
.bg-light-grey { background-color: $grey-light-color; }
.bg-white { background-color: $white-color; }

// Color
.color-primary { color: $primary-color; }
.color-secondary { color: $secondary-color; }
.color-accent { color: $accent-color; }
.color-accent-light { color: $accent-light-color; }
.color-grey { color: $grey-color; }
.color-light-rey { color: $grey-light-color; }
.color-white { color: $white-color; }


/* General */
body {
  margin: 0;
  font-family: $font-family-base;
  background-color: $white-color;
}

.container {
  margin: 0;
  padding-top: 80px;
}

.textContainer {
  margin: auto;
  display: flex;
  justify-items: center;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 800px;
}

/* Main page */
.headerImage {
  background: url(/media/photos/background-main.jpg) 0% 0% / cover;
  min-height: 650px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  box-shadow: inset 0 0 0 100vmax rgba($primary-color, .3);
}

.pageTitle {
  color: $white-color;
  font-size: 60px;
  font-family: $font-family-title;
  font-weight: 300;
  text-shadow: 1px 1px 1px $grey-color;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

.subtitle {
  color: $white-color;
  font-family: $font-family-title;
  font-weight: 300;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.4em;
}

/* */
.band {
  min-height: 200px;
  font-family: $font-family-title;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 300;
    text-align: center;
    font-size: 36px;
    padding-top: 60px;

  }
}

.section-paragraph {
  font-weight: 300;
  font-size: 22px;
  margin: 0;
  text-align: center;
  max-width: 936px; // 752px;
  padding-bottom: 20px;
  line-height: 1.4;
  margin-bottom: 8px;

  &--last-paragraph{
    padding-bottom: 60px;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: $white-color;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.1);
}

.logo {
  padding-left: 20px;
  font-family: $font-family-title;
  font-weight: 900;
  font-size: 40px;
  color: $secondary-color;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar__item {
  display: inline;
  margin-right: 30px;
}

.navbar__item-link {
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* Call to Action buttons */
.services {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;

  button {
    background-color: $secondary-color;
    font-family: $font-family-title;
    font-size: 32px;
    font-weight: 600;
    border: none;
    color: $white-color;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 15px;
    width: 250px;
    height: 250px;
    cursor: pointer;
  }
}

/* Social Media */
.socialMedia {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;

  svg {
    fill: white;
  }

  li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

    img {
      width: 36px;
      opacity: 0.6;

      &:hover {
        opacity: 1.0;
      }
    }
  }
}

.footer {
  font-size: 14px;
  color: #666;
  margin: 0;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    line-height: 22px;
  }
}

/* Footer */
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}


/* Blog */
.entry-title {
  color: $primary-color;
  font-size: 30px;
  margin-top: 30px;
  padding: 20px;
  text-decoration: none;
}
