.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
  background-color: $grey-light-color;

  @include respond(tablet) {
    flex-direction: column;
    padding: 0px 20px;
  }

  &__container {
    display: flex;
    justify-items: center;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 800px;
  }

  &__title {
    font-size: 55px;
    font-family: $font-family-title;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 40px;

    @include respond(mobile) {
      font-size: 40px;
      margin-top: 0px;
      display: block;
    }
  }

  &__subtitle {
    // color: $white-color;
    font-family: $font-family-title;
    font-weight: 300;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    padding-left: 10px;
    padding-right: 10px;

    @include respond(mobile) {
      font-size: 1em;
    }
  }

  &__arrow-down {
    max-width: 50px;
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    filter: invert(1) sepia(1);

    animation-name: heartFadeInOut;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 3s;

    &:hover {
      cursor: pointer;
      filter: invert(0);
      transform: scale(1.2s);
    }
  }

  &__image {
    background: url(/media/photos/suca.png) 0% 0% / cover;
    background-position-x: center;
    min-height: 600px;
    max-width: 900px;
    width: 100%;
    @include respond(mobile) {
      min-height: 400px;
    }
  }

  // A heart beating
  @keyframes heartFadeInOut {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.97);
    }
    35% {
      transform: scale(0.9);
    }
    45% {
      transform: scale(1.1);
    }
    55% {
      transform: scale(0.9);
    }
    65% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateY(100rem);
    }

    80% {
      opacity: 0.5;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#section-principles {
  padding-top: 100px;
}

#section-colab {
  .colaborator-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-flow: wrap;
    width: 100%;
    margin: 40px 0px;

    &__item {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
    }

    &__logo {
      width: 200px;
      opacity: 0.8;
      transition: all 0.4s;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }

      @include respond(mobile) {
        padding: 0px 20px;
        width: 200px;
      }
    }
  }
}
