.colaborator-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  flex-flow: wrap;
  width: 100%;
  margin: 40px 0px;
  text-align: center;
  justify-content: space-around;
  max-width: $max-text-width;

  &__item {
    width: 15%;
    display: inline-block;
    padding: 20px;

    @include respond(tablet) {
      width: 25%;
    }
    @include respond(mobile) {
      width: 80%;
    }
  }

  &__logo {
    width: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 0.4s;

    &:hover {
      opacity: 1;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transform: scale(1.1);
    }

    @include respond(mobile) {
      padding: 0px 20px;
      width: 200px;
    }
  }
}
