<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <nav>
    <ul class="navbar">
      <li class="navbar__item"><a class="navbar__item-link" href="/">Inicio</a></li>
      <li class="navbar__item"><a class="navbar__item-link" href="/nosotros">Nosotros</a></li>
      <li class="navbar__item"><a class="navbar__item-link" href="/servicios">Servicios</a></li>
      <li class="navbar__item"><a class="navbar__item-link" href="/blog">Blog</a></li>
    </ul>
  </nav>

  <div class="container">

    {{ content }}

  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:xxx@gmail.com">email</a></li>
    </ul>
  </footer>
</body>

</html>
