---
layout: default
comments: true
---

<section class="band bg-white">
  <h2 class="entry-title">{{ page.title }}</h2>
  <span class="entry-metadata">{{page.author }}, {{ page.date | date_to_string }}</span>
  <article class="entry-content">
    {{content}}
  </article>
  <div id="disqus_thread" class="entry-comments"></div>
</section>

<script>
  // RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  // LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };

  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ahoratigo.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Por favor habilita JavaScript para ver los<a href="https://disqus.com/?ref_noscript">comentarios, soportados
    por Disqus.</a></noscript>



<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
  data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script
  type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us20.list-manage.com", "uuid": "3b15ee21ee2df72df0f47a9c3", "lid": "ee23f3c844", "uniqueMethods": true }) })</script>
