.page {
  &-title {
    color: $primary-color;
    font-size: 50px;
    font-family: $font-family-title;
    font-weight: 300;
    margin-top: 100px;
  }

  &-container {
    margin: 0;
    padding-top: 100px;
    background-color: $grey-light-color;
  }

  &-footer {
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    color: white;
    background-color: $dark-primary-color;
    margin: 0;
    height: 30px;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
